$yellow: #fae46d;
$dark_yellow: #c8b657;
$sky: #9fd6ff;
$blue: #679ef0;
$dark_blue: #525987;
$white: #f7f6f0;
$gray: #46443a;
$black: #32322d;

$twitter: #1da1f2;
$discord: #7289da;
$misskey: #b4ea00;
$github: #333;